main.main-content {
  align-items: center;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.login-form {
  background-color: #FFF;
  padding: 25px;
  width: 30%;
}