#wrapper {
  background-color: aliceblue;
  min-height: 100vh;
  padding: 15px;
}

main {
  margin-bottom: 20px;
}

.category-create, .menu-data {
  background-color: #FFF;
  padding: 15px;
}

.menu-data .ui.styled.accordion {
  width: 100%;
}

.category .title,
.category__item .title {
  align-items: center;
  display: flex;
}

.category .actions,
.category__item .actions {
  margin-left: auto;
}

.easy-edit-wrapper,
.easy-edit-inline-wrapper {
  display: inline-block;
}

.easy-edit-wrapper {
  color: cornflowerblue;
  border-bottom: 1px dashed cornflowerblue;
}

.empty .easy-edit-wrapper,
.empty p {
  color: crimson;
  border-color: crimson;
}

.d-block {
  display: block;
}
.bold {
  font-weight: bold;
}